{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="ocr for english, chinese, and a mix of two">

        <title>kks</title>

        <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'styles/style.css' %}">
        <link rel="stylesheet" href="{% static 'styles/build.css' %}">
        <link href="http://fonts.cdnfonts.com/css/euclid-circular-a?styles=100037,100034,100036,100039,100031" rel="stylesheet">
        <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
        <link rel="shortcut icon" href="/static/assets/icons/TEXT.svg" type="image/x-icon">

        <script src="{ % static 'js/error.js' %}"></script>
    </head>

    <body class="bg-slate-50" style="font-family: 'Euclid Circular A', sans-serif;">
        <header class="text-gray-600 body-font">
            <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
                <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
                    <span class="ml-3 text-xl">text to braille converter</span>
                </a>

                <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
                    <a href="#ocr" class="mr-5 cursor-pointer hover:text-gray-900">ocr</a>
                    <a href="#ttb" class="mr-5 cursor-pointer hover:text-gray-900">text to braille</a>
                </nav>
            </div>
        </header>

        <!-- error popup modal -->
        {% if messages %}
        {% for msg in messages %}

        <div id="error-modal" class="flex animate-pulse w-full max-w-sm mx-auto overflow-hidden bg-white rounded-lg shadow-lg">
            <div class="flex items-center justify-center w-12 stroke-slate-900">
                <svg xmlns="http://www.w3.org/2000/svg" fill="#000000" viewBox="0 0 24 24" class="w-6 h-6 text-slate-800 fill-current">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path></g></svg>
            </div>

            <div class="px-4 py-2 -mx-3">
                <div class="mx-3">
                    <span class="font-semibold text-slate-800 ">scan unavailable</span>
                    <p class="text-sm text-gray-600 ">{{msg}}</p>
                </div>
            </div>
        </div>

        {% endfor %}
        {% endif %}
        <!-- error popup modal -->

        <section class="text-gray-600" id="ocr">
            <div class="container px-5 py-24 mx-auto">
                <div class="flex flex-col text-center w-full mb-12">
                    <h1 class="sm:text-7xl text-2xl font-medium mb-4 text-gray-900">optical character recognition</h1>
                    <p class="lg:w-2/3 mx-auto leading-relaxed text-xl">some description</p>
                </div>

                <div class="container">
                    <div class="buttons">
                        <button id="upload-btn" onclick="document.getElementById('formFile').click()"
                            class="custom-btn shadow-md mb-2"> upload image
                        </button>

                        <form method="post" action="{% url 'index' %}"  enctype="multipart/form-data" class="flex justify-center">
                            {% csrf_token %}
                            <input name="imagefile" re accept="image/*" type="file" id="formFile"
                                style="display: none;">

                            <button class="custom-btn shadow-md " disabled>
                                <select name="language" id="languages" class="bg-transparent">
                                    <option value="eng" selected >english</option>
                                    <option value="chi_tra">chinese</option>
                                    <option value="eng+chi_tra">chinglish</option>
                                </select>
                            </button>
                            
                            <button type="submit" class="custom-btn shadow-md bg-white">get text</button>
                        </form>
                    </div>
                </div>

                <!-- Uploaded image will be shown -->
                {% if image %}
                <div class="flex justify-center ease-out m-5 rounded-2xl duration-300 h-96">
                    <img class="justify-center rounded-2xl hover:scale-105 stroke-white stroke-2 duration-500"
                        src="data:image/png;base64, {{ image }}">
                </div>
                {% endif %}
                <!-- Uploaded image will be shown -->

                <!-- OCR text will be shown -->
                {% if ocr %}
                    <div class=" ease-out bg-white text-slate-800 rounded-2xl hover:shadow-lg p-6 mt-3 duration-300 w-auto">
                    <button id="copybtn" onclick="copy()" class="button">copy</button>   
                    
                    <!-- <p id="ocrtext" class="text-lg mt-2  mb-8">{{ ocr }}</p>    -->

                    <pre id="ocrtext" class="text-lg mt-2  mb-8 text-left">{{ ocr }}</pre>

                    <a type="submit" class="custom-btn shadow-md bg-white" href="#ttb" id="braille" onclick="braille()">Get Braille</a>               
                    </div> 
                {% endif %}
            </div>

            <script>
                // copy to clipboard on copy btn click
                function copy() 
                {
                    /* Get the text field */
                    var copyText = document.getElementById("ocrtext");
                    // get text inside of copytext element
                    var text = copyText.innerText;
                    /* Copy the text inside the text field */
                    navigator.clipboard.writeText(text);
                    // set the text to be copied
                    document.querySelector('#copybtn').innerText = "ocr text copied";
                }
            </script>
            <!-- OCR text will be shown -->


            <div class="container px-5 py-24 mx-auto" id="ttb">
                <div class="flex flex-col text-center w-full mb-12">
                    <h1 class="sm:text-7xl text-2xl font-medium mb-4 text-gray-900">Text to Braille Converter</h1>
                    <p class="lg:w-2/3 mx-auto leading-relaxed text-xl">a text to braille converter using arrays</p>

                    <form method="post" action="{% url 'braille' %}" id="empty">
                        {% csrf_token %}
                        <font size="+3"><label for="input-text">English Text:</label></font>
                        <div class="input-group">
                            <span class="input-group-text"></span>
                            <font size="+1"><textarea cols="50" rows="8" style="border:groove 6px grey;" 
                                  type="text"  id="brailleText" name="brailleText"></textarea>
                            </font>
                        </div>
                        
                        <button type="submit" class="custom-btn shadow-md bg-white">Convert to Braille</button>
                        </form>
            
                        <form method="post" action="{% url 'braille' %}" id="from-ocr">
                        {% csrf_token %}
                        <font size="+3"><label for="input-text">English Text:</label></font>
                        <div class="input-group">
                            <span class="input-group-text"></span>
                            <font size="+1"><textarea cols="50" rows="8" style="border:groove 6px grey;" 
                                  type="text"  id="brailleText" name="brailleText">{{ ocr }}</textarea>
                            </font>
                        </div>
                        
                        <button type="submit" class="custom-btn shadow-md bg-white">Convert to Braille</button>
                        </form>
                        
                        {% if image_path %}
                        <img src={% static "images\braille_image.png"%} alt="Braille Image">
                      {% endif %}
             
            <!-- automatic paste ocr text on braille textbox --> 
            <script>           
                document.getElementById('empty').style.display = "block"
                document.getElementById('from-ocr').style.display = "none"
                document.getElementById('ctb').style.display = "block"

                function braille() {
                    var fromOcrForm = document.getElementById('from-ocr');
                    var emptyForm = document.getElementById('empty');
                    var ctbSection = document.getElementById('ctb');
                  
                    if (fromOcrForm.style.display === 'none') {
                      fromOcrForm.style.display = 'block';
                      emptyForm.style.display = 'none';
                      emptyForm.style.height = '0px';
                    } else {
                      fromOcrForm.style.display = 'none';
                      emptyForm.style.display = 'block';
                      emptyForm.style.height = 'auto';
                      ctbSection.style.display = 'block';
                    }
                  }
            </script>
        </div>
        
        
        <div class="container px-9 py-30 mx-auto " id="ctb">
            <div class="flex flex-col text-center w-full custom-form-section">
           
            <form method="post" action="{% url 'translate' %}">
                {% csrf_token %}
                <font size="+3"><label for="c-text">Chinese Text:</label></font>
                <div class="c-group">
                <span class="c-group-text"></span>
                    <font size="+1"><textarea cols="50" rows="8" style="border:groove 6px grey;" 
                          type="text"  id="ctext" name="ctext"></textarea>
                    </font>
                </div>

                <button type="submit" class="custom-btn shadow-md bg-white">Convert to Braille</button>
            </form>
            {% if cbraille %}
                <img src={% static "images\braille_image.png"%} alt="Braille Image">
            {% endif %}

            </div>
        </div>
</html>
